In [21]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [22]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN','NAME', 'STATUS'], inplace = True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N,142590,1

In [23]:
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [24]:
application_value_counts = application_df.loc[:, "APPLICATION_TYPE"].value_counts()
application_value_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [25]:
# repeating what was done in original notebook
replace_application = list(application_value_counts[application_value_counts < 200].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [26]:
classification_value_counts = application_df.loc[:, "CLASSIFICATION"].value_counts()
classification_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [27]:
# Determine which values to replace if counts are less than ..?
replace_class = list(classification_value_counts[classification_value_counts < 200].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: CLASSIFICATION, dtype: int64

In [28]:
#dealing again with categorical values
application_cat = application_df.dtypes[application_df.dtypes == 'object'].index.tolist()

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\Alexandria\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [29]:
# Merge one-hot encoded features and drop the originals
encoded_application_df = application_df.merge(encode_df, left_index = True, right_index = True).drop(columns = application_cat)
encoded_application_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [30]:
# Split our preprocessed data into our features and target arrays
y = encoded_application_df.loc[:, "IS_SUCCESSFUL"].values
X = encoded_application_df.drop(columns=["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)

In [31]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [32]:
# Define the model - deep neural net - 100 epochs
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 20
hidden_nodes_layer2 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.6108 - accuracy: 0.6933
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5658 - accuracy: 0.7239
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5572 - accuracy: 0.7265
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5535 - accuracy: 0.7292
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5514 - accuracy: 0.7293
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7302
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5499 - accuracy: 0.7305
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5494 - accuracy: 0.7312
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5490 - accuracy: 0.7318
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7321
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7320
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7333
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7329
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7335
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7336
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7338
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7334
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7336
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7335
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7334
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7346
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7344
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7346
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7343
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7350
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7348
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7346
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7344
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7352
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7364
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7345
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7355
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7357
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7342
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7356
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7353
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7351
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7343
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7348
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7340
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7361
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7355
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7366
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7355
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7366
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7360
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7363
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7356
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7357
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7368
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7360
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7370
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7358
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7366
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7357
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7356
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7354
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7357
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7364
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7365
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7368
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7363
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7367
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7367
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7372
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7360
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7365
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7367
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7372
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7368
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7364
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7372
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7372
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7375
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7369
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7368
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7367
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7378
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7366
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7367
Epoch 81/100

804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7370
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7370
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7376
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7376
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7371
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7376
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7373
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7368
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7371
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7379
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7372
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7369
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7378
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7370
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7369
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7370
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7381
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7368
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7367
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7370
268/268 - 0s - loss: 0.5485 - accuracy: 0.7289 - 378ms/epoch - 1ms/step
Loss: 0.5484598278999329, Accuracy: 0.728863000869751

In [36]:
#Random forest was tried 
# Create a random forest classifier.
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf_model = RandomForestClassifier(n_estimators=60, random_state=2)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)

print(f" Random forest accuracy: {accuracy_score(y_test,y_pred)}")

 Random forest accuracy: 0.7118367346938775